/* myStyle.css */
body{
	font-family: josefinSans;
	background-color: black;
	color: #00a9e7;
	margin: 0px;
	padding: 0px;
}

@font-face {
	font-family: josefinSans;
	src: url('jose/JosefinSans-Regular.eot');
	src: url('jose/JosefinSans-Regular.eot?#iefix') format('embedded-opentype'),
		url('jose/JosefinSans-Regular.woff2') format('woff2'),
		url('jose/JosefinSans-Regular.woff') format('woff'),
		url('jose/JosefinSans-Regular.ttf') format('truetype'),
		url('jose/JosefinSans-Regular.svg#JosefinSans') format('svg');
}
html {
	overflow-x: hidden;
	margin: 0px;
	padding: 0px;
}


html::-webkit-scrollbar{
	width: 1em;
}
html::-webkit-scrollbar-track{
	background-color: #00a9e7;
	-webkit-box-shadow: inset 0 0 6px #000003;
}
html::-webkit-scrollbar-thumb{
	background-color: black;
	-webkit-border-radius: 10px;
   	border-radius: 10px;
}